*{
    margin: 0;
    padding: 0;
    font-size: 28px;
}

.container{
    width: 70%;
    border: 3px solid black;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.div{
    display: inline-block;
    border: 2px solid purple;
    width: 30%;
}

@media (min-width:992px)
{
    
}