.container {
    display: flex;
    background-color: rgb(154, 140, 115);
    height: 500px;
    flex-wrap: wrap;
    /* flex-direction: column-reverse; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* align-content: space-between; */
    gap: 10px;
}

.item {
    height: 100px;
    width: 100px;
    background-color: rgb(255, 181, 181);
    color: black;
}

.item-9{
    /* padding-top: 50px; */
    order: -3;
}

.item-8{
    padding-top: 80px;
    order: -2;
}

.item-14{
    flex-grow: 1;
}

.item-15{
    flex-grow: 4;
}